h1 #{subtitle}
hr
h2 Hello Dojo
.right
  h1 Projects
  ul
    li
      a(href="https://github.com/kitsonk/dojo2-boilerplate-package/", target="_blank", title="Working Draft for Dojo 2 Packages") dojo2-boilerplate-package
.left
  p
    | In my spare time, I contribute to open source projects as well as am a Comitter to the Dojo Toolkit.  I started
    | working with JavaScript and Dojo in 2009.  When I was involved in more technical roles, I found myself constantly
    | needing to create little "tools" to make my life easier.  Over the years, I had started in Turbo Pascal, migrated
    | onto Delphi and then eventually PHP.  In 2009 I wanted to create a complex tool, but one of my self imposed
    | requirements was to have it be totally thin client with no "cheating" by using other technologies outside of the
    | three core web technologies of CSS, HTML and JavaScript.  That is when I happened upon the Dojo Toolkit, which
    | I was impressed with because it was an "all in one" toolkit, where I didn't need to cobble together, generally
    | speaking, other bits and pieces of code to get the functionality I needed.
  p
    | One thing led to another, and while my day job moved on to senior management, I still wanted to have a grounding
    | in technology, at least as a hobby.  I became more and more involed with the Dojo Toolkit and the communty there
    | and next thing I knew I was being invited to be a committer.
  p
    | Most of my side projects deal with web technologies, focused mainly on JavaScript, but as JavaScript has started
    | to take a hold in the server and other non-client side areas via NodeJS, I have wanted to find ways to leverage
    | JavaScript in those areas as well.  A selection of my projects is available to the right.
  p
    | One of the "big" things that I have been involved in working towards Dojo 2.  While it has had a long and
    | meandering life, I suspect Dojo 2 will eventually get there.  To see where the current conversation is, and what
    | is (or is not) going on, you can visit the discussion on
    | <a href="http://dote.kitsonkelly.com/archive" target="_blank">dote</a>.
  p
    | I am an ardent believer in Open Source, but in particular the type of openess that allows people and organisations
    | to do what they really want to with open technology.  There is so much more to Open Source than just slapping an
    | OSI recognised license on your code.  Also, there are certain licenses that "infect" other other software and
    | make it difficult for commercial organisations to be able to enhance a solution without exposing themselves and
    | potentially making their intellectual property become not their own anymore.  Add in their the need to ensure that
    | your open software is unencumbered by 3rd party IP claims, it is a complex scenario that many Open Source
    | developers do not fully appreciate.