doctype 5
html
  head
    block head
      link(rel="icon", type="png", href="images/logo_16.png")
      title #{subtitle} &ndash; #{title}

    block css
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Averia+Libre:400,700|Permanent+Marker')
      link(rel='stylesheet', type='text/css', href='/css/site.css', media='all')
    block scripts
      script(type="text/javascript")
        dojoConfig = {
          async: 1,
          baseUrl: "#{root}/",
          packages: [{
              name: "dojo",
              location: "dojo"
            },{
              name: "dijit",
              location: "dijit"
            },{
              name: 'core',
              location: 'core'
            },{
              name: "tapas-client",
              location: "tapas-client"
            }],
          deps: ["tapas-client/main"]
        };
      script(type="text/javascript", src='#{root}/dojo/dojo.js')

  block body
    .header
      ul
        li
          a(href='/') Home
        li
          a(href='/cv') CV/Résumé
        li
          a(href='/code') Code
        li
          a(href='/photos') Photos
        li
          a(href='http://blog.kitsonkelly.com/', target="_blank") Blog
    .content
      block content
    .footer
      .copy Copyright &copy; 2013 &ndash; All Rights Reserved
